@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white:#fff;
  --primary-red: #931F06;
  --primary-dark: #ffffff00;
  --primary-black: #000000;
}


body {
  font-family: "Roboto Condensed", sans-serif !important;
}
/******************************* NAVBAR ********************************/
.logo {
  width: 16.25rem;
}

/*-----------MENU LINKS------------*/
nav a.nav-link {
  font-size: .8rem;
 /* font-weight: 500;*/
  letter-spacing: 0.0375rem;
  cursor: pointer;
}



nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 00.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

@media(max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus {
border-top: 0.1875rem solid var(--primary-red);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-red);
}

/******************************* HEADER ********************************/

.header-wrapper {
  position: relative;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-red);
  text-transform: uppercase;
}



/******************************* TYPED TEXT ********************************/

.Typed-text {
  font-size: 3.2rem;
  color: var(--primary-white);
}

@media(max-width: 768px) {
  .main-info h1 {
    font-size: 1.7rem, !important;
  }
  .Typed-text {
    font-size: 1.3rem !important;
  }
}


/******************************* HEADER MAIN OFFER BUTTON ********************************/

.btn-main-offer {
border: 1px solid var(--primary-red);
text-transform: uppercase;
border-radius: 0;
padding: 0.625rem 0.75rem 0.75rem 0.75rem;
color: var(--primary-red);
margin: 2rem;
font-size: 1rem;

}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-dark);
  color:var(--primary-white);
  transition: .2s ease-in-out;
  color: var(--primary-white);
}

/******************************* PARTICLES JS ********************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}


@media(max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}






a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


/******************************* ABOUTUS KNOW MORE BUTTON ********************************/

.btn-know-more {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #000000;
  margin: 0rem;
  font-size: 1rem;
 
  
  }
  
  .btn-know-more:hover {
    text-decoration: none;
    background-color: var(--primary-dark);
    color:var(--primary-red);
    transition: .2s ease-in-out;
    
  }


  .about-heading {
    color: var(--primary-red);
    text-transform: uppercase;
  }


  @media (max-width: 468px) {
        
  }

/******************************* ABOUTUS KNOW MORE BUTTON ********************************/
 .services {
   text-align: center;
   padding-bottom: 2rem;

 } 

 


 .services .icon {
   font-size: 2.5rem;
   color: var(--primary-white);
   position: absolute;
   margin-top: 3%;
   margin-left: -1.2rem;
   
   

 }


.servicestexts {
    font-size: 1rem;
    color: var(--primary-white);
    
  }

  .services .box:hover {
    background: var(--primary-red);
    border-bottom: 0.3125rem solid var(--primary-black);
  }



  .services .box {
    height: 16rem;
    border-bottom: 0.3125rem solid var(--primary-red);
    padding: 0.625rem;
    margin-bottom: 1.875rem;
    background: var(--primary-black);
    transition: 0.3s ease-in-out;
  }
  

  .services .box:hover .icon {
    color: var(--primary-black);
  }

  .services .box:hover .servicestexts {
    color: var(--primary-black);
  }